# Server Configuration
PORT=8080

# Supabase Credentials
SUPABASE_KEY=your_supabase_anon_or_service_role_key
SUPABASE_EMAIL=your_supabase_auth_email
SUPABASE_PASSWORD=your_supabase_auth_password
JWT_SECRET=your_jwt_secret_key_for_parents

# Database Configuration (Optional)
MONGO_URI=your_mongo_db_connection_string
